<form action="/restaurantsCRUD" method="POST">
  <div class="row mb-3">
    <label class="form-label col-2">name</label>
    <input type="text" class="form-control col" name="name">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">name_en</label>
    <input type="text" class="form-control col" name="name_en">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">category</label>
    <input type="text" class="form-control col" name="category">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">image</label>
    <input type="text" class="form-control col" name="image">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">location</label>
    <input type="text" class="form-control col" name="location">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">phone</label>
    <input type="text" class="form-control col" name="phone">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">google_map</label>
    <input type="text" class="form-control col" name="google_map">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">rating</label>
    <input type="text" class="form-control col" name="rating">
  </div>
  <div class="row mb-3">
    <label class="form-label col-2">description</label>
    <input type="text" class="form-control col" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>